#git+https://github.com/woodyk/pii.git@main#egg=pii
#git+https://github.com/woodyk/interactor.git#egg=interactor
python-docx
psutil
openai
openai[realtime]
prompt_toolkit
python_magic
rich
setuptools
pandas
matplotlib
seaborn
requests
BeautifulSoup4
qrcode
pytesseract
speechrecognition
pymupdf
mss
pydub
playwright
sentence_transformers
faiss-cpu
selenium
webdriver_manager
tiktoken
aiohttp
sounddevice
webrtcvad
joblib
scikit-learn
urwid
flask_cors
flask
numpy
