faiss-cpu
pymupdf
flask
flask_cors
functions
ai-interactor
joblib
mrblack
numpy
pandas
pillow
prompt_toolkit
psutil
qrcode
requests
rich
scikit_learn
selenium
sentence_transformers
urwid
webdriver_manager
beautifulsoup4
